@model CentroCostos.Models.ViewModels.NuevaLineaViewModel

<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>Editar Linea de Producción</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            @using (Html.BeginForm("EditarLinea", "Administracion", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(x => x.Id)

                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="firstname">Codigo</label>
                        <div class="controls">
                            @Html.TextBoxFor(t => t.Codigo, new { @class = "span6" })
                        </div> <!-- /controls -->
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="@Url.Action("ModelosLinea", "Administracion", new { id = @Model.Id })" class="btn">Cancelar</a>
                    </div>
                </fieldset>
            }
        </div>
        <!-- /widget-content -->
    </div>
</div>
